.start-string{
    display: flex;
}

.cards{
    display: flex;
    justify-content: center;
    margin-right:60px;
}

.see-cards{
    padding-top: 46px;
    display: flex;
    justify-content: center;
}

.blue-zone{
    background:#005EF3;
    color:white;
    width:100%;
    float:left;
    margin:3% 0;
}

.img1{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.img2{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    margin-left:20px;
}

.name-card{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;

    color: #000000;
}

.text-card{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;

    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

.tagq{
    display: inline;
    border-radius: 20px;
    border-width: 1px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    background-color:white;
    color:#7D7D7D;

}

.card .button_circle{
    display:none;
    margin-bottom: -30px;
    border-radius: 100%;
    background: linear-gradient(360deg, #005EF3 0%, #689EF4 100%);
    width: 60px;
    height: 60px;
    border-width: 0px;
    color: white;
}
.card:hover .button_circle{display: inline}
.button_circle:hover{
    background: #005EF3;
    box-shadow: 0px 15px 25px rgba(0, 94, 243, 0.4);
}
.button_circle:active{
    background: #005EF3;
    box-shadow: 0px 0px 0px rgba(0, 94, 243, 0.4);
}

.card{
    border-width: 0px;
    background: #FFFFFF;
    border-radius: 10px;
    width:360px;
}
.card:hover{
    background: #F4F4F4;
}

.circle {
    margin-top: 5px;
    border-radius: 25px;
    width: 10px;
    height: 10px;
    display: flex;
    background: #F64D40;
  }

h3{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #000000;
}

.main-string{
    padding-left: 20px;
    display: inline;
}

.line_see_project{
    display: flex;
    align-items: center;
    height:1px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background:#E5DECC;
    width:30%;
}

.button_see_project{
    display: inline-block;
    background:white;
    border-radius:25px;
    border-width:0px;
    font-family:Rubik;
    font-style:normal;
    font-weight:500;
    font-size:14px;
    color:#B19B69;
    box-shadow: 0px 10px 25px rgba(177, 155, 105, 0.3);
    width:201px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_see_project:hover{
    background: #F3F3F3;
    box-shadow: 0px 10px 25px rgba(177, 155, 105, 0.3);
}

.button_see_project:active{
    background: #F3F3F3;
    box-shadow: 0px 0px 0px rgba(177, 155, 105, 0.3);
}

.button10{
    position: relative;
    width: 198px;
    height: 80px;
    left: 432px;

    color: white;
    font-size: 125%;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border-radius: 7px;
    background: linear-gradient(180deg, #E3D1A0 0.52%, #A79156 100%);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
    transition: box-shadow .2s, border-color .2s;
}
.button10:hover{
    background: #B19B69;
    box-shadow: 0px 15px 25px rgba(177, 155, 105, 0.4);
}
.button10:active{
    background: #B19B69;
    box-shadow: 0px 0px 0px rgba(177, 155, 105, 0.4);
}

.about_donat{
    padding-top: 80px;
    padding-left: 89px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
    
}

.roster{
    padding-top: 40px;
    padding-left: 89px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.01em;

    color: #0866FB;
    transition: 0.5s linear;
}
.roster:hover{color: #FFFFFF;}

.more_text{
    position: relative;

    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

.artec1, .artec2, .artec3{
    float: left;
    margin-left: 30px;
    padding-top: 30px;
    width:360px;
} 

@media (min-width: 360px) {
    .start-string, .cards, .see-cards, .blue-zone{font-size: 2em;}
    .listq{display:flex;}
    .blue_zone{
        width: 3840px;
        height: 529px;
    }
    .more_text{
        padding-top: 20px;
        padding-left: 20px;
    }
    .button10{bottom: 110px;}
}

@media (min-width: 768px) {
    .start-string, .cards, .see-cards, .blue-zone{font-size: 1em;}
    .listq{display:flex;}
    .more_text{
        padding-top: 45px;
        padding-left: 40px;
    }
    .button10{bottom: 50px;}
}

@media (min-width: 1440px) {
    .start-string, .cards, .see-cards, .blue-zone{font-size: 1em;}
    .listq{display:block;}
        .more_text{
        padding-top: 0px;
        padding-left: 0px;
        width: 198px;
        height: 80px;
        left: 432px;
        top: -500px;
    }
    .button10{bottom: 60px;}
}

@media (min-width: 1920px) {
    .start-string, .cards, .see-cards, .blue-zone{font-size: 1em;}
    .listq{display:block;}
    .more_text{
        padding-top: 0px;
        padding-left: 0px;
        width: 198px;
        height: 80px;
        left: 432px;
        top: -500px;
    }
    .button10{bottom: 110px;}
}
